<div class="wrapper">
    <div class="content-heading">
        <h1 class="heading">END OF SEASON SALE DEALS</h1>
    </div>
    <div class="content-heading">
        <div class="contents scroll">

            <div class="content-1">
                <div class="pointer">
                    <div class="teaser-media">
                        <img class="teaser-image" width="1050" height="1400"
                            src="https://brand.assets.adidas.com/image/upload/f_gif,fl_lossy,q_auto/em_in_eoss_deals_commercial_fw23_shoes_hp_tc_d_a29d839470.gif">
                    </div>
                    <div class="teaser-content">
                        <span class="teaser-span">
                            <strong class="teaser-subtitle">
                                Min. 35% Off on trending Shoes
                            </strong>
                        </span>
                    </div>
                </div>
                <div class="tester-footer-content">
                    <button class="teaser-media-button pointer">
                       <a>SHOP NOW</a> 
                    </button>
                </div>
            </div>

            <div class="content-1">
                <div class="pointer">
                    <div class="teaser-media">
                        <img class="teaser-image"
                            src="https://brand.assets.adidas.com/image/upload/f_gif,fl_lossy,q_auto/em_in_eoss_deals_commercial_fw23_shoes_hp_tc_d_a29d839470.gif">
                    </div>
                    <div class="teaser-content">
                        <span class="teaser-span">
                            <strong class="teaser-subtitle">
                                Street wear Sneakers starting Rs 2499*
                            </strong>
                        </span>
                    </div>
                </div>
                <div class="tester-footer-content">
                    <button class="teaser-media-button">
                        <a>SHOP NOW</a> 

                    </button>
                </div>
            </div>

            <div class="content-1">
                <div class="pointer">
                    <div class="teaser-media">
                        <img class="teaser-image"
                            src="https://brand.assets.adidas.com/image/upload/f_gif,fl_lossy,q_auto/em_in_eoss_deals_commercial_fw23_shoes_hp_tc_d_a29d839470.gif">
                    </div>
                    <div class="teaser-content">
                        <span class="teaser-span">
                            <strong class="teaser-subtitle">
                                Summer wear starting Rs 999*
                            </strong>
                        </span>
                    </div>
                </div>
                <div class="tester-footer-content">
                    <button class="teaser-media-button">
                        <a>SHOP NOW</a> 

                    </button>
                </div>
            </div>

            <div class="content-1">
                <div class="pointer">
                    <div class="teaser-media">
                        <img class="teaser-image"
                            src="https://brand.assets.adidas.com/image/upload/f_gif,fl_lossy,q_auto/em_in_eoss_deals_commercial_fw23_shoes_hp_tc_d_a29d839470.gif">
                    </div>
                    <div class="teaser-content">
                        <span class="teaser-span">
                            <strong class="teaser-subtitle">
                                Min 35% Off on Jackets and Sweatshirts
                            </strong>
                        </span>
                    </div>
                </div>
                <div class="tester-footer-content">
                    <button class="teaser-media-button">
                        <a>SHOP NOW</a> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>