<div class="footer-bottom-wrapper">
    <ul class="legal-menu">
        <li class="legal-menu-item">
            <a style="touch-action: manipulation;" href="https://www.adidas.co.in/help/company-information/what-is-the-privacy-policy">Privacy Policy</a>
        </li>
        <li class="legal-menu-item">
            <a style="touch-action: manipulation;" href="https://www.adidas.co.in/help/company-information/what-are-the-terms-and-conditions">Terms and Conditions</a>
        </li>
        <li class="legal-menu-item legal-menu-item-cookie">
            <a style="touch-action: manipulation;" href="https://www.adidas.co.in/help/company-information/cookies-policy">Cookies</a>
        </li>
    </ul>
    <div class="footer-copyright">
        <span>©2021 adidas India Marketing Pvt. Ltd</span>
    </div>
</div>